$headerFont: 'Playfair Display', serif;
$bodyFont: 'Montserrat', sans-serif;

$accentColor: #F881AA;
$backgroundColor: #F4F3EF;
$fontColor: #000000;
$hoverColor: #C71754;

$smallWidth: 90%;
$largeWidth: 800px;

$normalFont: 115%;
$mediumFont: 130%;
$largeFont: 200%;
$smallMassiveFont: 20vw;
$massiveFont: 200px;
