@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

body{
    font-family: 'Jost', sans-serif;
    margin:0;
}

nav{
    background-color: #96DA76;
}

header a{
    text-decoration: none;
    color: rgb(96, 187, 54);
}


nav ul{
    padding:0;
    margin: auto;
}
nav li{
    list-style: none;
    display: inline-block;
}
header nav a{
    color: white;
    padding: 10px 5px;
    transition: all .5s ease-in-out;
}

header nav a:hover{
    background-color: #3D0B37;
}

footer{
    background-color: #96DA76;
    color: white;
    text-align: center;
    padding: 10px;
}