@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

body{
    font-family: 'Jost', sans-serif;
    margin:0;
}

main{
    padding: 15px;
}
nav{
    background-color: rgb(77, 170, 87);
}

header a{
    text-decoration: none;
    color: #4ba524;
}

nav{
    box-sizing: border-box;
    padding: 10px 5px;
}
nav ul{
    padding:0;
    margin: auto;
}
nav li{
    list-style: none;
    display: inline-block;
}
header nav a{
    color: white;
    padding: 10px 5px;
    transition: all .5s ease-in-out;
}

header nav a:hover{
    background-color: #347916;
}

footer{
    background-color: #45a11d;
    color: white;
    text-align: center;
    padding: 10px;
}

.link-btn{
    padding: 5px 10px;
    text-decoration: none;
    color: #45a11d;
    border: solid 1px #45a11d;
    border-radius: 25px;
}