@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

body{
    font-family: 'Jost', sans-serif;
    margin:0;
    text-align: center;
}

main{
    padding: 15px;
}
nav{
    background-color: #45a11d;
    margin: auto;
}

header>div{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header .logo{
    width: 50%;
    text-align: left;
}
header .logo>img{
    max-width: 60%;
}
header a{
    text-decoration: none;
    color: #45a11d;
}

nav{
    box-sizing: border-box;
    padding: 5px 10px;
}
nav ul{
    padding:0;
    margin: auto;
}
nav li{
    list-style: none;
    display: inline-block;
}
header nav a{
    color: white;
    padding: 5px 10px;
    transition: all .5s ease-in-out;
}

header nav a:hover{
    background-color: #347916;
}

footer{
    background-color: #45a11d;
    color: white;
    text-align: center;
    padding: 10px;
}

.link-btn{
    padding: 5px 10px;
    text-decoration: none;
    color: #45a11d;
    border: solid 1px #45a11d;
    border-radius: 25px;
    transition: all .2s ease-in-out;
    margin: 5px;
    display: inline-block;
}

.link-btn:hover{
    border-width: 2px;
}

h1{
    color: #347916;
    margin:5px;
}

main a{
    color: #45a11d;
    transition: all .2s ease-in;
}
main a:visited{
    color: #347916;
}
main a:hover{
    color: black;
}

table, td, th{
    border: solid 1px black;
    border-collapse: collapse;
}
table{
    margin:auto;
}
td, th{
    padding:5px 10px;
}
thead{
    background-color: #347916;
    color: white;
}
ul{
    list-style-position: inside;
    padding:0;
}
form{
    width: 250px;
}

form label, input{
    display:block;
}
input{
    padding:5px;
    font-family: 'Jost';
    font-size: 18px;
}
input[type="submit"]{
    background-color: #45a11d;
    color: white;
    padding: 5px 10px;
    border:none;
    border-radius: 25px;
    transition: all .2s ease-in-out;
    margin: 5px;
}

input[type="submit"]:hover{
    background-color: #45a11d;
}
